/* Palette:
      - Rich Black Fogra 29: #101119
      - Gunmetal: #2A373C
      - Cultured: #EDF2F4
      - Ochre: #D17010
*/

/*------------- Social links sidebar -------------*/
/* Social links sidebar frame */
.socbar {
    overflow-x: hidden;
    background-color: #101119;
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-left: 15px;
    border-left: 2px solid #D17010;
}

/* Social links hover effect */
.socbar a:hover {
    opacity: 0.5;
    transition-duration: 0.4s;
}

/* Space between links */
.link-break {
    line-height: 5px;
}

/*------------- Navigation sidebar -------------*/
/* Navigation sidebar frame */
.navbar {
    overflow-x: hidden;           /* Disable horizontal scroll */
    background-color: #2A373C;
    height: 100%;                 /* Full-height of page */
    width: 160px;                 /* Set the width of the sidebar */
    position: fixed;              /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;                   /* Stay on top */
    top: 0;                       /* Stay at the top */
    left: 60px;                      
    padding-top: 20px;            /* Add some space between top and text */
}

/* Navigation sidebar menu links */
.navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #D17010;
    display: block;
    font-weight: bold;
}

/* Change weight of navigation links when hovering */
.navbar a:hover {
    text-decoration: underline;
}

/*------------- General body styling -------------*/
/* Body aesthetics */
body {
    font-family: "Monaco", "Courier New", monospace;
    background-color: #EDF2F4;
    color: #101119;
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

/* Main div aesthetics */
.main {
    margin-left: 220px;
}

/* Headings */
h1 {
    margin: 0px;
    font-size: 40px;
    text-align: center;
}

/* Section frame */
.section {
    width: auto;
    min-height: 100vh;
    height: auto;
    position: relative;
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
}

/* Section text */
.section_text {
    height: 80%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: justify;
    text-justify: auto;
}

/* Hide scrollbar. Code from: https://stackoverflow.com/questions/43186015/css-hide-scroll-bar-but-have-element-scrollable */
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Decorative separator strip */
.separator {
    height: auto;
    background-color: #2A373C;
    border-right: 2px solid #D17010;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 9px;
    background-color: #2A373C;
    color: #EDF2F4;
    text-align: right;
    font-weight: bold;
}

/* Images */
.image{
    border: 1px solid #D17010; 
    outline: 3px solid #2A373C;
}

/*------------- Landing -------------*/
/* Home div styling */
.home {
    width: auto;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home text box */
#hometext {
    background-color: #EDF2F4;
    padding: 15px;
    border: 2px solid #D17010;
    outline: 3px solid #2A373C;
    text-align: center;
}

/* Name on landing */
#name {
    font-size: 40px;
}

/* Title on landing */
#title {
    font-size: 30px;
}

/*------------- About me -------------*/
/* About-me text */
#about-me-text {
    padding-right: 30px; 
    font-weight: bold;
}

/*------------- Publications -------------*/
/* Framework for buttons */
.buttons {
    margin: 50px 25px 50px 25px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
}

/* Buttons */
.button {
    color: #EDF2F4;
    outline: 3px solid #101119;
    background-color: #2A373C;
    padding: 5px 20px 5px 20px;
    margin: 10px;
    list-style: none;
    display: inline;
    font-weight: bold;
}

/* 'all' button */
.button-all {
    color: #EDF2F4;
    outline: 3px solid #101119;
    background-color: #2A373C;
    padding: 5px 20px 5px 20px;
    margin: 10px;
    list-style: none;
    display: inline;
    font-weight: bold;
}

/* Button hover */
.button:hover {
    opacity: 0.9;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* 'all' button hover */
.button-all:hover {
    opacity: 0.9;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Marking the active (clicked) button */
.button[name=active] {
    color: #2A373C;
    background-color: #D17010;
    transition-duration: 0.4s;
}

/* Marking the active (clicked) 'all' button */
.button-all[name=active] {
    color: #2A373C;
    background-color: #D17010;
    transition-duration: 0.4s;
}

/* Wrapper for publications */
.publication-studies {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    width: calc(100vw - 310px);
    height: 100%;
    overflow-x: hidden;
    justify-content: center;
}

/* Publication divs */
.pub {
    display: block;
    width: 300px;
    margin: 10px 20px 10px 20px;
    background-color: #2A373C;
    color: #EDF2F4;
    font-weight: bolder;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    outline: 3px solid #101119;
}

/* Removing underlining from publication text */
.pubbutton, .pubbutton:focus {
    text-decoration: none;
    color: #EDF2F4;
}

/* Styling publication text */
.pubbutton p {
    padding: 10px;
    margin: 0;
    border: 1px solid #D17010;
}

/* Effects when hovering over pubbutton */
.pubbutton:hover p, .pubbutton:focus p, .pubbutton:active p {
    background-color: #D17010;
    color: #101119;
    font-weight: bolder;
    transition-duration: 0.4s;
}

/* Footer below title for open access status */
.access-status {
    padding: 5px 0px 5px 0px;
    background-color: #101119;
    color: #EDF2F4;
    width: 100%;
    height: auto;
    font-size: 0.7em;
}

/* Modal box */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 30vh;
    width: calc(100vw - 220px);
    height: 100%;
    max-height: 70vh;
    overflow: auto;
    top: 0;
    left: 220px;
    background-color: rgba(42, 55, 60, 0.40);
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.4s;
    animation-name: fade;
    animation-duration: 0.4s;
}

/* Modal content */
.modal-content {
    position: relative;
    background-color: #EDF2F4;
    margin: auto;
    padding: 0;
    border: 1px solid #D17010;
    outline: 3px solid #2A373C;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Modal header */
.modal-header {
    background-color: #101119;
    min-height: 25px;
    color: #D17010;
    margin: 0;
    border-bottom: 3px solid #2A373C;
}

/* Modal header heading text */
.modal-header h2 {
    padding: 15px 20px 10px 20px;
    margin: 0;
}

/* Modal subheader */
.modal-subheader {
    background-color: #2A373C;
    color: #EDF2F4;
    font-weight: normal;
    padding: 5px 20px 5px 20px;
    font-size: 0.8em;
}

/* Modal main */
.modal-main {
    background-color: #EDF2F4;
    color: #101119;
    font-weight: normal;
    padding: 5px 20px 5px 20px;
    margin: 0;
    max-height: 30vh;
    overflow-y: scroll;
}

/* Modal footer */
.modal-footer {
    background-color: #2A373C;
    min-height: 15px;
    color: #EDF2F4;
    font-weight: normal;
    padding: 10px 20px 10px 20px;
    font-size: 0.8em;
}

/* Modal buttons wrapper */
.modal-buttons {
    float: right;
}

/* Modal buttons */
.modal-buttons a {
    background-color: #2A373C;
    border: 1px solid #EDF2F4;
    color: #EDF2F4;
    padding: 3px;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
}

/* Modal buttons hover effect */
.modal-buttons a:hover {
    font-weight: bolder;
}

/* Close button for modal */
.close-button {
    text-decoration: none;
    float: right;
    padding: 2px 10px 0px 0px;
    margin: auto;
    font-size: 35px;
    font-weight: bold;
    color: #D17010;
}

/* Clicking close button */
.close-button:hover, .close-button:focus {
  text-decoration: none;
  cursor: pointer;
}

/* Add moving animation for modal */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
  }
  
@keyframes animatetop {
  from {top: -300px; opacity:0}
  to {top: 0; opacity: 1}
}

/* Add fading background animation for modal */
@-webkit-keyframes fade {
    from {background-color: rgba(42, 55, 60, 0)}
    to {background-color: rgba(42, 55, 60, 0.40)}
}

@keyframes fade {
    from {background-color: rgba(42, 55, 60, 0)}
    to {background-color: rgba(42, 55, 60, 0.40)}
}

/*------------- CV -------------*/
/* CV section frame */
.cv-section {
    height: 100%;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
}

/* CV column frame */
div.cv-section div {
   width: 100%; 
}

/* CV section text */
.cv-text {
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}

/* Styling for years in CV section */
.cv-year {
    vertical-align: top;
    padding-right: 10px;
}









