/* Palette dark:
    #472D30
    #723D46
    #E26D5C
    #FFE1A8
    #C9CBA3
    https://coolors.co/palette/c9cba3-ffe1a8-e26d5c-723d46-472d30
*/

/* Palette light:
    #B3C186 = #C9CBA3
    #CCD683 = #E26D5C
    #FFFEF9 = #472D30
    #FAEDCD = #723D46
    #CA8F53 = #FFE1A8
    https://coolors.co/B3C186-CCD683-fffef9-faedcd-CA8F53
*/

/* All HTML */
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* Body in general */
body {
    background-color: #472D30;
    color: #FFE1A8;
    font-family: "Titillium Web", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* Hide scrollbar */
body::-webkit-scrollbar{
    display: none;
}

/* Landing section */
#landing {
    display: flex;
    height: 200vh;
    width: 100vw;
    background-color: #FFE1A8;
}

/* Landing left column*/
#landing-left {
    width: 60vw;
}

/* Landing right column */
#landing-right {
    background-color: #472D30;
    width: 40vw;
    z-index: 1;
}

/* Aesthetic corner background 1 */
#landing-aes-bg1 {
    position: absolute;
    right: 40vw;
    height: 100px;
    width: 100px;
    background-color: #472D30;
}

/* Aesthetic corner foreground 1 */
#landing-aes-fg1 {
    position: absolute;
    right: 40vw;
    height: 200px;
    width: 200px;
    background-color: #FFE1A8;
    border-radius: 50%;
    z-index: 1;
}

/* Landing title */
#landing-title {
    top: 25vh;
    left: 18vh;
    position: absolute;
    margin: 0;
    font-size: 5em;
    color: black;
    line-height: 1em;
    max-width: 60vw;
    height: 250px;
    z-index: 2;
}

/* First name */
#first-name {
    word-spacing: 20px;
    z-index: 2;
}

/* Last name */
#last-name {
    color: #723D46;
    font-weight: bolder;
    z-index: 2;
}

/* Subtitle */
#subtitle {
    font-size: 0.5em;
    font-weight: bold;
    line-height: 0;
}

/* Social links */
#social-links {
    top: calc(25vh);
    left: 70vw;;
    position: absolute;
    margin: 0;
    z-index: 2;
    color: #E26D5C;
}

/* Social links title */
#social-links-title {
    font-size: 2em;
    margin: 0;
}

/* Social links text styling */
#social-links a {
    display: flex;
    font-weight: 100;
    color: white;
    transition: 0.5s;
}

/* Social links text styling */
#social-links a:hover {
    opacity: 0.75;
}

/* Social links images size */
#social-links img {
    height: 7.5vh;
    margin: 4px 15px 4px 0;
}

/* Social links text */
#social-links p {
    font-size: 4vh;
    margin: 0;
    line-height: 2;
}

/* Aesthetic text */
#landing-aes-txt1 {
    position: absolute;
    top: 80vh;
    left: 90vw;
}

/* Aesthetic text */
#landing-aes-txt1 div {
    display: flex;
}

/* Aesthetic text */
#landing-aes-txt1 div div {
    border-radius: 50%;
    margin: 3px;
    height: 5px;
    width: 5px;
    background-color: #E26D5C;
    z-index: 10;
}

#landing-aes-bg3 {
    position: absolute;
    top: calc(100vh - 50px + 15em + 200px);
    left: 0;
    height: 100px;
    width: 100px;
    background-color: #723D46;
    z-index: 8;
}

#landing-aes-fg3 {
    position: absolute;
    top: calc(100vh - 50px + 15em + 200px);
    left: 0;
    height: 200px;
    width: 200px;
    background-color: #FFE1A8;
    border-radius: 50%;
    z-index: 8;
}

/* Landing profile shadow */
#landing-intro-shadow {
    position: absolute;
    top: calc(100vh - 100px);
    left: 0;
    background-color: #FFE1A8;
    width: 70vw;
    height: calc(15em + 300px);
    z-index: 5;
}

/* Landing profile */
#landing-intro {
    position: absolute;
    top: calc(100vh - 50px);
    left: 0;
    background-color: #723D46;
    width: 70vw;
    height: calc(15em + 200px);
    z-index: 10;
}

/* Aesthetic corner background 2 */
#landing-aes-bg2 {
    position: absolute;
    left: calc(70vw - (15em + 300px) / 2);
    top: calc(100vh - 100px);
    height: calc(15em + 300px);
    width: calc(15em + 300px);
    background-color: #FFE1A8;
    border-radius: 50%;
    z-index: 6;
}

/* Aesthetic corner foreground 2 */
#landing-aes-fg2 {
    position: absolute;
    left: calc(70vw - (15em + 200px) / 2);
    top: calc(100vh - 50px);
    height: calc(15em + 200px);
    width: calc(15em + 200px);
    background-color: #723D46;
    border-radius: 50%;
    z-index: 8;
}

#landing-picture {
    position: absolute;
    top: 50px;
    left: calc(70vw + 50px - (15em + 200px) / 2);
}

#lp-head1 {
    position: absolute;
    height: calc(15em + 100px);
    transition: 1s;
    z-index: 12;
}

#lp-head2 {
    position: absolute;
    height: calc(15em + 100px);
    z-index: 11;
}

#lp-head1:hover {
    opacity: 0;
}

#intro-text {
    margin: 50px;
    width: calc(70vw + 50px - (15em + 100px));
}

#intro-text p {
    color: white;
    font-size: 1.75em;
}

#intro-text h1 {
    color: white;
    font-weight: bolder;
    font-size: 2em;
}

/* Aesthetic text */
#landing-aes-txt2 {
    position: absolute;
    top: calc(100vh + 10px);
    left: calc(65vw + 50px - (15em + 100px));
    z-index: 15;
}

/* Aesthetic text */
#landing-aes-txt2 div {
    display: flex;
}

/* Aesthetic text */
#landing-aes-txt2 div div {
    border-radius: 50%;
    margin: 4px;
    height: 5px;
    width: 5px;
    background-color: white;
    z-index: 10;
}

#landing-aes-bg4 {
    position: absolute;
    top: calc(100vh - 50px + 15em + 200px);
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #C9CBA3;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    z-index: 15;
}

#landing-aes-bg4:after {
    content: '';
    background: #FFE1A8;
    height: 50px;
    display: block;
    top: 0;
    position: absolute;
    width: 100%;
}

#navigation {
    position: absolute;
    top: calc(100vh - 50px + 15em + 200px);
    height: 60vh;
    width: 60vw;
    background-color: #C9CBA3;
}

#landing-aes-bg5 {
    position: absolute;
    top: calc(100vh + 15em + 200px);
    left: calc(60vw - 100px);
    width: 100px;
    height: 100px;
    background-color: #FFE1A8;
    overflow: hidden;
    z-index: 15;
}

#landing-aes-fg5 {
    position: absolute;
    top: calc(100vh + 15em + 200px);
    left: calc(60vw - 200px);
    width: 200px;
    height: 200px;
    background-color: #C9CBA3;
    border-radius: 50%;
    overflow: hidden;
    z-index: 15;
}





/* Main title */
#main-title-container {
    display: flex;
    align-items: center;
    height: 50vh;
    z-index: 3;
}

/* Heading 1 in main title */
#main-title-container h1 {
    font-size: 5vw;
    margin: 0;
}

/* Heading 2 in main title */
#main-title-container h2 {
    font-size: 2vw;
    margin: 0;
}

/* Introduction section */
#introduction-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* Introduction paragraph */
#introduction {
    width: 70vw;
    border-left: solid #723D46 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 1.5em;
    text-align: justify;
}

/* Styling for hyperlink */
.hyperlink { 
    color: #FFE1A8;
}

/* Navigation */
#navigation {
    width: 100vw;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav button container */
#nav-buttons {
    display: flex;
    justify-content: center;
}

/* Nav buttons */
.nav-button {
    border: none;
    font-size: 1.25em;
    font-family: "Titillium Web", Helvetica, sans-serif;
    color: #FFE1A8;
    margin: 2vh 4vw;
    text-align: center;
    display: inline-block;
    padding: 2vh 2vw;
    background-position: 100%;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #E26D5C, #E26D5C 50%, #723D46 50%);
    transition: background-position 1s;
}

/* Upon hovering nav button */
.nav-button:hover {
    background-position: 0% 100%;
    cursor: pointer;
}

/* Section containers */
.section-container {
    width: 100vw;
    min-height: 100vh;
    padding-top: 30px;
}

/* Section titles */
.section-title {
    position: relative;
    color: #FFE1A8;
    font-size: 2em;
    border-left: solid #723D46 20px;
    left: 15vw;
    padding-left: 15px;
    width: 80vw;
}

/* Academic content container */
#academic-content-container {
    display: block;
    position: relative;
    width: 80vw;
    left: 10vw;
    font-size: 1.2em;
    text-align: justify;
}

/* Specific academic columns container */
#academic-specific-texts {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* Academic text columns */
.academic-column {
    width: calc(80vw / 3.5);
}

/* Important text */
span.important {
    color: #C9CBA3;
}

/* Change title of publications section */
#pubs-title {
    font-size: 1.5em;
}

/* Publications */
#publications {
    min-height: 80vh;
    display: flex;
}

/* Publication list wrapper to allow scroll-bar on far side of border */
#publication-list-wrapper {
    display: block;
    width: calc(15vw + 15px);
    min-width: 200px;
    overflow-y: scroll;
    scrollbar-color: #E26D5C #723D46;
    scrollbar-width: thin;
    height: 80vh;
}

/* Publication list */
#publication-list {
    display: block;
    border-right: solid #723D46 15px;
    padding-top: 20px;
}

/* Style scrollbar for list */
/* width */
#publication-list-wrapper::-webkit-scrollbar {
   width: 5px;
 }
 
 /* Track */
 #publication-list-wrapper::-webkit-scrollbar-track {
   background: #723D46;
 }
 
 /* Handle */
 #publication-list-wrapper::-webkit-scrollbar-thumb {
   background: #E26D5C;
   transition: background 0.5s;
 }
 
 /* Handle on hover */
 #publication-list-wrapper::-webkit-scrollbar-thumb:hover {
   background: #E26D5C;
 } 

/* Publication buttons */
.publication-button {
    width: 100%;
    padding: 10px 5%;
    border: none;
    font-size: 0.85em;
    font-family: "Titillium Web", Helvetica, sans-serif;
    color: #FFE1A8;
    margin-bottom: 15px;
    text-align: right;
    transition: 1s;
    background-color: #472D30;
    background-position: 0%;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #472D30, #723D46 50%, #723D46 50%);
    transition: background-position 1s;
}

/* First author flair */
.first-author {
    font-size: 0.8em;
    font-style: italic;
    color: #C9CBA3;
}

/* Upon hovering publication button */
.publication-button:hover {
    cursor: pointer;
    background-position: 100% 100%;
}

/* Container for publication information */
#publication-information {
    width: 90%;
    max-height: 80vh !important;
    overflow-y: scroll;
    scrollbar-color: #E26D5C #723D46;
    scrollbar-width: thin;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

/* Style scrollbar for information */
/* width */
#publication-information::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
#publication-information::-webkit-scrollbar-track {
    background: #472D30;
}
  
/* Handle */
#publication-information::-webkit-scrollbar-thumb {
  background: #E26D5C;
  transition: background 0.5s;
}

/* Handle on hover */
#publication-information::-webkit-scrollbar-thumb:hover {
  background: #E26D5C;
} 

/* By default, hide publication */
.publication {
    display: none;
}

/* Publication information header */
.pub-header {
    min-height: 25px;
    margin: 0;
}

/* Highlight author position */
.author {
    color: #C9CBA3;
}

/* Publication information header heading text */
.pub-header h2 {
    padding: 15px 20px 10px 20px;
    margin: 0;
}

/* Publication information subheader */
.pub-subheader {
    font-weight: normal;
    padding: 5px 20px 5px 20px;
    font-size: 0.8em;
}

/* Publication information main */
.pub-main {
    font-weight: normal;
    padding: 5px 20px 5px 20px;
    margin: 0;
}

/* Publication information footer */
.pub-footer {
    min-height: 15px;
    font-weight: normal;
    padding: 10px 20px 10px 20px;
    font-size: 0.8em;
}

/* Publication information buttons wrapper */
.pub-buttons {
    float: right;
}

/* Publication information buttons */
.pub-buttons a {
    padding: 3px;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    color: #FFE1A8;
    transition: 0.5s;
}

/* Publication information buttons hover effect */
.pub-buttons a:hover {
    color: #C9CBA3;
}

/* Placeholder for when no publication is chosen yet */
#publication-placeholder {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.7em;
}

/* Title for section other output */
#oo-title {
    font-size: 1.5em;
    margin-top: 40px;
}

/* Divider for columns in other output */
#oo-divider {
    display: flex;
    width: 80vw;
    min-height: 80vh;
}

/* Left column of other output */
#oo-leftcolumn {
    width: calc(80vw - 300px);
}

/* Items under other output */
.oo-item {
    width: calc(80vw - 340px);
    margin-bottom: 40px;
}

/* Title styling */
.oo-item b {
    border-bottom: solid 2px #E26D5C;
}

/* Right column of other output */
#oo-rightcolumn {
    width: 300px;
    background-color: #723D46;
    padding: 10px;
    margin-top: 0;
}

/* Remove top margins from right column titles */
#oo-rightcolumn h3 {
    margin-top: 0;
}

/* Peer review title */
#pr-title {
    margin-top: 20px !important;
    margin-bottom: 0;
}

/* Peer review chart */
.chart {
    margin: 0;
    padding: 0;
}

/* CV container */
#cv-content-container {
    display: block;
    position: relative;
    width: 80vw;
    left: 10vw;
    font-size: 1.2em;
    text-align: justify;
}

/* Specific CV columns container */
.cv-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* CV columns */
.cv-column {
    width: calc(80vw / 2.1);
}

/* Main titles for CV sections */
.cv-title {
    background: #723D46;
    width: calc(80vw / 2.1);
    padding-left: 10px;
    margin-bottom: 0;
}

/* Expand button for CV */
.cv-expand {
    float: right;
    margin-right: 10px;
    transition: 0.5s;
}

/* Upon hovering */
.cv-expand:hover {
    color: #C9CBA3;
    cursor: pointer;
}

/* CV list with items */
.cv-items {
    height: 20em;
    overflow-y: scroll;
    scrollbar-color: #472D30 #472D30;
    scrollbar-width: thin;
    padding-top: 20px;
}

/* Styling for items in CV */
.cv-item {
    display: block;
    margin-bottom: 30px;
    text-align: left;
}

/* Fading text */
.fade {
    -webkit-mask-image: linear-gradient(180deg, #472D30 10em, transparent);
    mask-image: linear-gradient(180deg, #472D30 10em, transparent);
}

/* Styling for text in CV */
.cv-text {
    margin: 0;
    padding: 2px 2px 2px 10px;
}

/* Styling for years in CV */
.cv-year {
    width: 150px;
    margin: 0;
    padding-left: 5px;
    border-bottom: solid 2px #E26D5C;
}

/* Buffer at end of CV column to scroll out of fade */
.cv-item-end {
    height: 5em;
}

/* Style scrollbar for CV */
/* width */
.cv-items::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
.cv-items::-webkit-scrollbar-track {
    background: #472D30;
}
  
/* Handle */
.cv-items::-webkit-scrollbar-thumb {
  background: #472D30;
  transition: background 0.5s;
}

/* Handle on hover */
.cv-items::-webkit-scrollbar-thumb:hover {
  background: #472D30;
} 

/* Personal content container */
#personal-content-container {
    display: block;
    position: relative;
    width: 80vw;
    height: 80vh;
    left: 10vw;
    font-size: 1.2em;
    text-align: justify;
}

/* Personal content divider */
#personal-divider {
    display: flex;
    width: 80vw;
}

/* Left column of personal content */
#personal-leftcolumn {
    width: calc(80vw - 250px);
    margin-right: 30px;
}

/* Right column of personal content */
#personal-rightcolumn {
    width: 250px;
}

/* Remove top margins from right column title */
#personal-rightcolumn h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Interest buttons */
.interest-button {
    border: none;
    font-size: 1.05em;
    font-family: "Titillium Web", Helvetica, sans-serif;
    color: #FFE1A8;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    padding: 2vh 2vw;
    width: 250px;
    background-position: 100%;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #E26D5C, #E26D5C 50%, #723D46 50%);
    transition: background-position 1s;
}

/* Upon hovering interest button */
.interest-button:hover {
    background-position: 0% 100%;
    cursor: pointer;
}

/* Interest buttons */
#interest-buttons {
    margin: 0;
    padding: 0;
    height: calc(80vh - 6.33em + 10px);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #472D30 #472D30;
    scrollbar-width: thin;
}

/* Style scrollbar for interest buttons */
/* width */
#interest-buttons::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
#interest-buttons::-webkit-scrollbar-track {
    background: #472D30;
}
  
/* Handle */
#interest-buttons::-webkit-scrollbar-thumb {
  background: #472D30;
  transition: background 0.5s;
}

/* Handle on hover */
#interest-buttons::-webkit-scrollbar-thumb:hover {
  background: #472D30;
} 

/* Interest (hidden by default) */
.interest {
    height: 100%;
    display: none;
}

/* Interest wrapper */
.interest-wrapper {
    display: block;
    overflow-y: scroll;
    scrollbar-color: #472D30 #E26D5C;
    scrollbar-width: thin;
    padding-right: 10px;
    height: calc(80vh - 6.33em);
}

/* Style scrollbar for interests */
/* width */
.interest-wrapper::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
.interest-wrapper::-webkit-scrollbar-track {
    background: #472D30;
}
  
/* Handle */
.interest-wrapper::-webkit-scrollbar-thumb {
    background: #E26D5C;
    transition: background 0.5s;
}

/* Handle on hover */
.interest-wrapper::-webkit-scrollbar-thumb:hover {
    background: #E26D5C;
} 

/* Interest image wrapper */
.interest-image {
    float: left;
    margin-right: 20px;
}

/* Scrolling through interest image */
.interest-img-scroller {
    display: flex;
    background-color: #723D46;
    width: 180px;
    justify-content: space-between;
    font-weight: bold;
    margin: 0;
    padding: 1px 10px;
}

/* Button for scrolling through interest image */
.interest-img-scroller-button {
    transition: 0.5;
}

/* Change colour upon hover */
.interest-img-scroller-button:hover {
    color: #C9CBA3;
    font-weight: bolder;
    cursor: pointer;
}

/* Quote styling */
.quote {
    font-style: italic;
    font-size: 1.1em;
    text-align: center;
}

/* Language levels wrapper */
#language-levels {
    float: left;
    width: 250px;
    background-color: #723D46;
    margin: 0px 20px 15px 0;
}

/* Language levels title */
#language-levels h4 {
    text-align: center;
    margin: 5px 0 0 0;
    padding: 0;
}

/* Language levels list */
#language-levels ul {
    margin: 5px 0 15px 0;
    padding: 0 0 0 40px;
}

/* Sparkbar for languages */
.sparkbar {
    width: 180px;
    background-color: #472D30;
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
}

/* Sparkbar building blocks */
.sparkbar-building-block {
    margin: 0;
    padding: 0;
    height: 1.5em;
    font-weight: bold;
    color: #C9CBA3;
    font-size: 0.5em;
    width: 30px;
    background-color: #E26D5C;
    text-align: center;
}

/* Image gallery for interests */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    background-color: #723D46;
}

/* Images in image gallery */
.image-gallery img {
    height: 20vh;
    margin: 15px;
}

/* Placeholder for when no interest is chosen yet */
#interest-placeholder {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.7em;
}