/* Palette:
    #B3C186
    #E9EDC9
    #FFFEF9
    #FAEDCD
    #CA8F53
    https://coolors.co/B3C186-e9edc9-fffef9-faedcd-CA8F53
*/

/* All HTML */
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* Body in general */
body {
    background-color: #FFFEF9;
    color: #CA8F53;
    font-family: "Titillium Web", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* Hide scrollbar */
body::-webkit-scrollbar{
    display: none;
}

/* Landing section */
#landing {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

/* Landing section content container */
#landing-content-container {
    display: flex;
    height: 50vh;
}

/* Button to change theme container */
.theme_container {
    position: absolute;
    margin: 10px;
}

/* Overlap theme buttons */
.theme_button {
    position: absolute;
    left: 0;
}

/* Main button to change theme */
.theme_main {
    z-index: 3;
    transition: 0.6s;
}

/* Main button to change theme disappear on hover */
.theme_main:hover {
    opacity: 0;
}

/* Change theme image size */
#theme img {
    height: 5vh;
}

/* Upon hovering over theme */
#theme:hover {
    cursor: pointer;
}

/* Social links */
#social-links {
    position: absolute;
    display: flex;
    right: 0;
    margin-top: 5px;
}

/* Individual social links contianer */
.social-link-container {
    position: absolute;
    margin: 5px;
}

/* Social links images size */
#social-links img {
    height: 5vh;
}

/* Individual positioning for PubMed */
.soc-pub {
    right: 0;
}

/* Individual positioning for GitHub */
.soc-git {
    right: calc(5vh + 10px);
}

/* Individual positioning for OSF */
.soc-osf {
    right: calc(10vh + 20px);
}

/* Individual positioning for ORCID */
.soc-orc {
    right: calc(15vh + 30px);
}

/* Main image (unselected) */
.soc-main {
    background-color: transparent;
    z-index: 3;
    transition: 0.6s;
}

/* Transition on hover over social links */
.soc-main:hover {
    opacity: 0;
}

/* Headshot container */
#headshot-container {
    height: 50vh;
    width: calc(50vh / 1.3);
}

/* Headshot image */
#headshot {
    position: absolute;
    max-height: 50vh;
    z-index: 2;
    transition-duration: 1s;
}

/* Second headshot image hidden behind first */
#headshot2 {
    position: absolute;
    -webkit-animation: appear 1s;
    animation: appear 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    max-height: 50vh;
    z-index: 1;
    transition-duration: 1s;
}

/* Show second headshot when hovering on first */
#headshot:hover {
    opacity: 0;
}

/* Main title */
#main-title-container {
    display: flex;
    align-items: center;
    height: 50vh;
    z-index: 3;
}

/* Heading 1 in main title */
#main-title-container h1 {
    font-size: 5vw;
    margin: 0;
}

/* Heading 2 in main title */
#main-title-container h2 {
    font-size: 2vw;
    margin: 0;
}

/* Introduction section */
#introduction-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* Introduction paragraph */
#introduction {
    width: 70vw;
    border-left: solid #FAEDCD 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 1.5em;
    text-align: justify;
}

/* Styling for IPA hyperlink */
.hyperlink { 
    color: #B3C186;
}

/* Navigation */
#navigation {
    width: 100vw;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;
}

/* Nav button container */
#nav-buttons {
    display: flex;
    justify-content: center;
}

/* Nav buttons */
.nav-button {
    border: none;
    font-size: 1.25em;
    font-family: "Titillium Web", Helvetica, sans-serif;
    color: #CA8F53;
    margin: 2vh 4vw;
    text-align: center;
    display: inline-block;
    padding: 2vh 2vw;
    background-position: 100%;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #E9EDC9, #E9EDC9 50%, #FAEDCD 50%);
    transition: background-position 1s;
}

/* Upon hovering nav button */
.nav-button:hover {
    background-position: 0% 100%;
    cursor: pointer;
}

/* Section containers */
.section-container {
    width: 100vw;
    min-height: 100vh;
    padding-top: 30px;
}

/* Section titles */
.section-title {
    position: relative;
    color: #CA8F53;
    font-size: 2em;
    border-left: solid #FAEDCD 20px;
    left: 15vw;
    padding-left: 15px;
    width: 80vw;
}

/* Academic content container */
#academic-content-container {
    display: block;
    position: relative;
    width: 80vw;
    left: 10vw;
    font-size: 1.2em;
    text-align: justify;
}

/* Specific academic columns container */
#academic-specific-texts {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* Academic text columns */
.academic-column {
    width: calc(80vw / 3.5);
}

/* Important text */
span.important {
    color: #B3C186;
}

/* Change title of publications section */
#pubs-title {
    font-size: 1.5em;
}

/* Publications */
#publications {
    min-height: 80vh;
    display: flex;
}

/* Publication list wrapper to allow scroll-bar on far side of border */
#publication-list-wrapper {
    display: block;
    width: calc(15vw + 15px);
    min-width: 200px;
    overflow-y: scroll;
    scrollbar-color: #E9EDC9 #FAEDCD;
    scrollbar-width: thin;
    height: 80vh;
}

/* Publication list */
#publication-list {
    display: block;
    border-right: solid #FAEDCD 15px;
    padding-top: 20px;
}

/* Style scrollbar for list */
/* width */
#publication-list-wrapper::-webkit-scrollbar {
   width: 5px;
 }
 
 /* Track */
 #publication-list-wrapper::-webkit-scrollbar-track {
   background: #FAEDCD;
 }
 
 /* Handle */
 #publication-list-wrapper::-webkit-scrollbar-thumb {
   background: #E9EDC9;
   transition: background 0.5s;
 }
 
 /* Handle on hover */
 #publication-list-wrapper::-webkit-scrollbar-thumb:hover {
   background: #E9EDC9;
 } 

/* Publication buttons */
.publication-button {
    width: 100%;
    padding: 10px 5%;
    border: none;
    font-size: 0.85em;
    font-family: "Titillium Web", Helvetica, sans-serif;
    color: #CA8F53;
    margin-bottom: 15px;
    text-align: right;
    transition: 1s;
    background-color: #FFFEF9;
    background-position: 0%;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #FFFEF9, #FAEDCD 50%, #FAEDCD 50%);
    transition: background-position 1s;

}

/* Upon hovering publication button */
.publication-button:hover {
    cursor: pointer;
    background-position: 100% 100%;
}

/* Container for publication information */
#publication-information {
    width: 90%;
    max-height: 80vh !important;
    overflow-y: scroll;
    scrollbar-color: #E9EDC9 #FAEDCD;
    scrollbar-width: thin;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

/* Style scrollbar for information */
/* width */
#publication-information::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  #publication-information::-webkit-scrollbar-track {
    background: #FFFEF9;
  }
  
  /* Handle */
  #publication-information::-webkit-scrollbar-thumb {
    background: #E9EDC9;
    transition: background 0.5s;
  }
  
  /* Handle on hover */
  #publication-information::-webkit-scrollbar-thumb:hover {
    background: #E9EDC9;
  } 

/* By default, hide publication */
.publication {
    display: none;
}

/* Publication information header */
.pub-header {
    min-height: 25px;
    margin: 0;
}

/* Highlight author position */
.author {
    color: #B3C186;
}

/* Publication information header heading text */
.pub-header h2 {
    padding: 15px 20px 10px 20px;
    margin: 0;
}

/* Publication information subheader */
.pub-subheader {
    font-weight: normal;
    padding: 5px 20px 5px 20px;
    font-size: 0.8em;
}

/* Publication information main */
.pub-main {
    font-weight: normal;
    padding: 5px 20px 5px 20px;
    margin: 0;
}

/* Publication information footer */
.pub-footer {
    min-height: 15px;
    font-weight: normal;
    padding: 10px 20px 10px 20px;
    font-size: 0.8em;
}

/* Publication information buttons wrapper */
.pub-buttons {
    float: right;
}

/* Publication information buttons */
.pub-buttons a {
    padding: 3px;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    color: #CA8F53;
    transition: 0.5s;
}

/* Publication information buttons hover effect */
.pub-buttons a:hover {
    color: #B3C186;
}

/* Placeholder for when no publication is chosen yet */
#publication-placeholder {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.7em;
}

/* CV container */
#cv-content-container {
    display: block;
    position: relative;
    width: 80vw;
    left: 10vw;
    font-size: 1.2em;
    text-align: justify;
}

/* Specific CV columns container */
.cv-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* CV columns */
.cv-column {
    width: calc(80vw / 2.1);
}

/* CV list with items */
.cv-items {
    height: 20em;
    overflow-y: scroll;
    scrollbar-color: #FFFEF9 #FFFEF9;
    scrollbar-width: thin;
}

/* Styling for items in CV */
.cv-item {
    display: block;
    margin-bottom: 30px;
    text-align: left;
}

/* Fading text */
.fade {
    -webkit-mask-image: linear-gradient(180deg, #FFFEF9 10em, transparent);
    mask-image: linear-gradient(180deg, #FFFEF9 10em, transparent);
}

/* Styling for text in CV */
.cv-text {
    margin: 0;
    padding: 2px 2px 2px 10px;
}

/* Styling for years in CV */
.cv-year {
    width: 150px;
    margin: 0;
    padding-left: 5px;
    border-bottom: solid 2px #E9EDC9;
}

/* Buffer at end of CV column to scroll out of fade */
.cv-item-end {
    height: 5em;
}

/* Style scrollbar for CV */
/* width */
.cv-items::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
.cv-items::-webkit-scrollbar-track {
    background: #FFFEF9;
}
  
/* Handle */
.cv-items::-webkit-scrollbar-thumb {
  background: #FFFEF9;
  transition: background 0.5s;
}

/* Handle on hover */
.cv-items::-webkit-scrollbar-thumb:hover {
  background: #FFFEF9;
} 